fastapi
uvicorn[standard]
pydantic
python-multipart
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
google-genai
openai
ollama
pypdf
streamlit
pandas
matplotlib
wordcloud
