{
  auto_https disable_redirects
}

http://{$DOMAIN:localhost}, https://{$DOMAIN:localhost} {
  encode gzip

  handle_path /api/* {
    reverse_proxy rag-api:8000
  }

  handle_path /dashboard/* {
    reverse_proxy rag-dashboard:8501
  }

  handle /api {
    redir /api/ 308
  }

  handle /dashboard {
    redir /dashboard/ 308
  }

  handle {
    reverse_proxy frontend:80
  }
}
